body{
    font-family: "Inter", serif;
}
.language-javascript{
    font-family: "Source Code Pro", serif;
}
footer{
    background-color:#231161;
    color:#C99700;
    font-weight:bold;
    text-align: center;
}